
:root {
	--primary-color: #222222;
	--secondary-color: #b8b8b8;
	--bg-color: #111;
	--white: #fff;
	--gray: #111;
	--lighter-gray: #222222;
	--light-gray: #414141;
	--black: #000;
  }



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.app {
	display: flex;
	min-height: 100vh;
}

#contentbg {
	background-color: var(--white);
}

*::selection{
  background:var(--black);
  color:#333;
}

html::-webkit-scrollbar{
  width:1.4rem;
}

html::-webkit-scrollbar-track{
  background:#222;
}

html::-webkit-scrollbar-thumb{
  background:var(--black);
  
}


.container {
	background-color: var(--secondary-color);
	margin-top: 150px;
	padding: 15px;
	width: 20%;
	height: 650px;
	border-radius:50px ;
	box-shadow: 0px 0px 70px 15px var(--primary-color);
}


.menu-toggle {
	display: none;
	position: fixed;
	top: 2rem;
	right: 2rem;
	width: 60px;
	height: 60px;
	border-radius: 99px;
	background-color: var(--gray);
	cursor: pointer;
}

.hamburger {
	position: relative;
	top: calc(50% - 2px);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: var(--white);
  transition-duration: .25s;
}

.hamburger > span::before {
  content: '';
  top: -8px;
}
.hamburger > span::after {
  content: '';
  top: 8px;
}
.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

.sidebar {
	flex: 1 1 0;
	max-width: 300px;
	padding: 2rem 1rem;
	background-image: linear-gradient( var(--secondary-color), var(--lighter-gray));
    z-index: 10000000000000;
}

.sidebar h3 {
	color: var(--white);
	font-size: 20px;
	text-transform: uppercase;
    border-radius: 20px;
    padding: 5px;
    width: 140px;
	margin-bottom: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.sidebar .menu {
	margin: 0 -1rem;
}

.sidebar .menu .menu-item {
	display: block;
	padding: 1em;
	color: var(--white);
    font-size: 15;
    background-image: linear-gradient(var(--secondary-color));
	text-decoration: none;
	transition: 0.2s linear;
  border-right: 7px solid var(--primary-color);

}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
	color: var(--black);
    font-size: 20px;
    background-image: linear-gradient(var(--light-gray,--lighter-gray));
	border-right: 10px solid var(--primary-color);
}

.sidebar .menu .menu-item.is-active i {
    font-size: 20x;
}

.sidebar .menu .menu-item:hover {
	border-right: 8.5px solid var(--primary-color);
}

.sideimg {
    height: 125px; 
    width: 145px;
    display: block;
    margin: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  box-shadow: 0px 0px 25px 10px var(--white);
}

.content {
	flex: 1 1 0;
	padding: 2rem;
}

.content h1 {
	color: var(--primary-color) ;
    text-transform: capitalize;
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

.content p {
	color: var(--white);
    font-size: 18px;
    text-transform: capitalize;
    text-shadow: 2px 2px 4px var(--black);
}

.content a {
	color: var(--primary-color);
    font-size: 18px;
    text-transform: capitalize;
	text-decoration:line-through ;
	background-color: var(--secondary-color);
	padding: 5px;
	border-radius: 10px;
}

.content a:hover {
	color: var(--secondary-color);
    font-size: 18px;
    text-transform: capitalize;
	text-decoration: underline;
	background-color: var(--primary-color);
	padding: 5px;
	border-radius: 10px;
}

.hrr {
    border-top: 2.5px solid var(--primary-color);
}

i {
    padding: 7.5px;
}

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 100%;
  background: var(--bg-color);
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s;    
}

.back-to-top:hover {
  opacity: 85%;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  to {
    transform: rotate(2520deg);
  }
}

.hidden {
  opacity: 0%;
}

.back-to-top-icon {
  width: 1rem;
  height: 1rem;
  color: var(--white);
}





footer{
  margin-top: auto;
  background: var(--gray);

}
footer .article{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .article p,a{
  color: var(--white);
}
footer .article .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .article .topic{
  font-size: 22px;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 16px;

}
footer .article p{
  text-align: justify;
}
footer .article .lower .topic{
  margin: 24px 0 5px 0;
}

footer .article .lower i{
  padding-right: 16px;
}
footer .article .middle{
  padding-left: 80px;
}
footer .article .middle a{
  line-height: 32px;
}
footer .article .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: var(--white);
  background: var(--black);
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid var(--gray);
}
footer .article .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: var(--lighter-gray);
  background:var(--black);
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid var(--lighter-gray);
  transition: all 0.3s ease-in-out;
}
.article .right input[type="submit"]:hover{
  background: none;
  color:  var(--black);
}
footer .article .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid var(--lighter-gray);
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.article .media-icons a:hover{
  border-color: var(--white);
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: var(--white);
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: var(--white);
}
footer a{
  transition: all 0.3s ease;
  color: var(--secondary-color);
  text-decoration: line-through;
  text-transform: capitalize;
}
footer a:hover{
  color: var(--light-gray);
  text-decoration: underline;
}
@media (max-width:1100px) {
  footer .article .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .article .box{
    width: 50%;
  }
  .article .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .article .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .article .middle{
    padding-left: 0;
  }
}






@media (max-width: 1024px) {
	.sidebar {
		max-width: 200px;
	}
}

@media (max-width: 768px) {
	.menu-toggle {
		display: block;
	}
	.content {
		padding-top: 8rem;
	}
	.sidebar {
		position: fixed;
		top: 0;
		left: -300px;
		height: 100vh;
		width: 100%;
		max-width: 300px;
		transition: 0.2s linear;
	}

	.sidebar.is-active {
		left: 0;
	}
}